# Hospital Chatbot 
This chatbot is aim to gives critical information about patientes to the doctor and nurses from a hospital. This is a demo project and the extraction of the data is limited to a simplified database that has 3 different columns: 

- Patients
- Diseases
- Consultations 

The architecture being proposed is based on the use of a commercial LLM model, specifically the GPT-4 o mini. This model was chosen for its good performance-price ratio per token. Additionally, it is proposed that patient information, such as their medical history, appointments, and general information, will be stored in a relational database, specifically in a MySQL database. The file for creating the database can be found in the repository. This database was created with fictional information. Finally, the solution will implement an SQL agent. This agent has the capability to generate SQL queries based on a prompt. This feature makes it suitable for addressing the use case presented. Since the agent will interact with the database, it will extract the requested information, and the user will be able to view the response in natural language in an easily understandable form.

**Reference**

- [SQLDatabaseToolkit](https://python.langchain.com/v0.2/docs/integrations/toolkits/sql_database/): Tools within the SQLDatabaseToolkit are designed to interact with a SQL database.
- [SQL Agents](https://python.langchain.com/v0.2/docs/tutorials/sql_qa/#agents): This doocumentation contains general information about how to build SQL Agents in LangChain


**Other sources of interest**
 
- [How to deal with large databases](https://python.langchain.com/v0.2/docs/how_to/sql_large_db/): Documentation about how to deals with the problem of interacting with large databases

In [3]:
from langchain_openai import ChatOpenAI
from langchain_community.utilities import SQLDatabase
import ast
import pandas as pd
from datetime import date

In [4]:
current_date = str(date.today()) 
print("Today is:",current_date)

Today is: 2024-08-03

## 1) Model importation 
LangChain is a framework designed to simplify the development of applications that use large language models (LLMs) for various purposes. It provides a comprehensive set of tools and components that help developers harness the power of LLMs more effectively and efficiently. LangChain can be used in various applications, including natural language processing (NLP), conversational agents, data analysis, and more

In [5]:
api_key = "your key"

In [22]:
llm = ChatOpenAI(model="gpt-4o-mini", temperature=0, api_key=api_key)

# Testing the connection with the model
answer = llm.invoke("Hello, are you ready to work?")
answer.content

"Hello! Yes, I'm ready to help. What do you need assistance with today?"

## 2) Prompt engenering

In [7]:
from langchain_core.messages import SystemMessage

SQL_PREFIX = f"""
- Today is {current_date} and you an agent designed to interact with a SQL database. This database is from  a Hospital so your users are regularly doctors and nurses. 
 
- Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.

- First step, itÂ´s always check the tables available in the data base, Do NOT skip this step.
- Then you should query the schema of the most relevant tables. 
- Inspect the table of Patients to get general information about the patients.
- Inspect the table Appointment to get information about the appointments of the patients. 
- Inspect the table Diseases  to get historical clinical data from the patients. 
- Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
- Never query for all the columns from a specific table, only ask for the relevant columns given the question.
- You have access to tools for interacting with the database.
- Only use the below tools. Only use the information returned by the below tools to construct your final answer.
- You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

- DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

"""

system_message = SystemMessage(content=SQL_PREFIX)
type(system_message)

langchain_core.messages.system.SystemMessage

## 3) Conection to the data base

### 3.1) Connection to the DB

In [9]:
# 1) Connection to the DB 
db = SQLDatabase.from_uri(database_uri="mysql://username:password@localhost:3306/HospitalDB")
# IMPORTANT: Place your own user name and password to make the connection to  the data base. Change the host in case you are in a different port. 


# Create engine from database URI: https://api.python.langchain.com/en/latest/utilities/langchain_community.utilities.sql_database.SQLDatabase.html#langchain_community.utilities.sql_database.SQLDatabase

### 3.2) Testing the connection

In [10]:
# Getting some results from table Patients 
result = db.run(command="select * from Patients limit 10; ", include_columns=False)

result = ast.literal_eval(result)

# Getting the name of the columns of table Patients 
columns = db.run(command="SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = 'HospitalDB' "
                         "AND TABLE_NAME = 'Patients';")


columns = ast.literal_eval(columns)

columns= [item[0] for item in columns]
columns

['PatientID', 'PatientName', 'BirthYear', 'Gender', 'BirthCountry']

In [11]:
# Create the DataFrame from this data extracted 
df = pd.DataFrame(data=result, columns=columns)
df

   PatientID      PatientName  BirthYear Gender BirthCountry
0          1         John Doe       1985      M          USA
1          2       Jane Smith       1990      F       Canada
2          3     Mike Johnson       1975      M           UK
3          4      Emily Davis       1988      F    Australia
4          5    Michael Brown       1982      M  New Zealand
5          6     Sarah Wilson       1995      F      Ireland
6          7   David Martinez       1980      M        Spain
7          8     Laura Garcia       1992      F       Mexico
8          9  James Rodriguez       1978      M     Colombia
9         10      Linda Lopez       1985      F    Argentina

## 4) Declaration of tools

In [12]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

tools = toolkit.get_tools()

**INSPECTION OF THE TOOLS**
 
These are the tools that the agent will have available to execute his task

In [13]:
for i in  range(0, len(tools)):
    print("Name of the tool:",  tools[i].name)
    print("Descripton of the tool:",  tools[i].description)
    print("")

Name of the tool: sql_db_query
Descripton of the tool: Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.

Name of the tool: sql_db_schema
Descripton of the tool: Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3

Name of the tool: sql_db_list_tables
Descripton of the tool: Input is an empty string, output is a comma-separated list of tables in the database.

Name of the tool: sql_db_query_checker
Descripton of the tool: Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!

## 5) Creation of the agent 
An agent basically is compose by two main componets: a LLM and a set of tools

In [29]:
from langgraph.prebuilt import create_react_agent

agent_executor = create_react_agent(model=llm, tools= tools, state_modifier= system_message )
type(agent_executor)

langgraph.graph.state.CompiledStateGraph

## 6) Testing the natural language comunication with the data base

### 6.1) Appointments

In [30]:
example_query = "Does John Doe has an appointment?, his ID is 1"
events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values")

for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

Does John Doe has an appointment?, his ID is 1
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_KvIw11LMFW8UuGXo2bWEBg97)
 Call ID: call_KvIw11LMFW8UuGXo2bWEBg97
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Appointment, Diseases, Patients
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_Cc93PKvHu72qmyeKdpuUKpcK)
 Call ID: call_Cc93PKvHu72qmyeKdpuUKpcK
  Args:
    table_names: Patients
  sql_db_schema (call_iChqFmh9APDFstrxhL7KKQgZ)
 Call ID: call_iChqFmh9APDFstrxhL7KKQgZ
  Args:
    table_names: Appointment
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE `Appointment` (
	`AppointmentID` INTEGER NOT NULL AUTO_INCREMENT,
	`PatientID` INTEGER,
	`AppointmentDate` DATE,
	PRIMARY KEY (`AppointmentID`),
	CONSTRAINT appointment_ibfk_1 FOREIGN KEY(`PatientID`) REFERENCES `Patients` (`PatientID`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Appointment table:
AppointmentID	PatientID	AppointmentDate
1	1	2024-01-10
2	2	2024-02-15
3	3	2024-03-20
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_wBJU8jnyzHL1s1yHhdfImEVC)
 Call ID: call_wBJU8jnyzHL1s1yHhdfImEVC
  Args:
    query: SELECT AppointmentDate FROM Appointment WHERE PatientID = 1 LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query

[(datetime.date(2024, 1, 10),)]
================================== Ai Message ==================================

Yes, John Doe has an appointment scheduled for January 10, 2024.

In [31]:
answer = event["messages"][-1].content
answer

'Yes, John Doe has an appointment scheduled for January 10, 2024.'

### 6.2) Historical medical issues

In [32]:
example_query = "What kind of illnesses has John Doe had?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values")

for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

What kind of illnesses has John Doe had?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_woyZEqBcN7bLZvGRbt2EkHrZ)
 Call ID: call_woyZEqBcN7bLZvGRbt2EkHrZ
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Appointment, Diseases, Patients
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_ODMS4mZNRq4iIW9M8nxmbjDT)
 Call ID: call_ODMS4mZNRq4iIW9M8nxmbjDT
  Args:
    table_names: Patients
  sql_db_schema (call_X6sfERzACjkee8wc4rtzc9cv)
 Call ID: call_X6sfERzACjkee8wc4rtzc9cv
  Args:
    table_names: Diseases
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE `Diseases` (
	`DiseaseID` INTEGER NOT NULL AUTO_INCREMENT,
	`PatientID` INTEGER,
	`ReportedDisease` VARCHAR(100),
	`ReportedTreatment` VARCHAR(100),
	`DiseaseType` VARCHAR(50),
	PRIMARY KEY (`DiseaseID`),
	CONSTRAINT diseases_ibfk_1 FOREIGN KEY(`PatientID`) REFERENCES `Patients` (`PatientID`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Diseases table:
DiseaseID	PatientID	ReportedDisease	ReportedTreatment	DiseaseType
1	1	Hypertension	Medication	Chronic
2	2	Diabetes	Insulin	Chronic
3	3	Flu	Rest and fluids	Acute
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_21oHz0x98j9y2BHCT4v2y17a)
 Call ID: call_21oHz0x98j9y2BHCT4v2y17a
  Args:
    query: SELECT ReportedDisease, ReportedTreatment, DiseaseType FROM Diseases WHERE PatientID = (SELECT PatientID FROM Patients WHERE PatientName = 'John Doe')
================================= Tool Message =================================
Name: sql_db_query

[('Hypertension', 'Medication', 'Chronic')]
================================== Ai Message ==================================

John Doe has had the following illness:

- **Reported Disease:** Hypertension
- **Reported Treatment:** Medication
- **Disease Type:** Chronic

### 6.3) General information

In [33]:
example_query = "When does John Doe  was born?"

events = agent_executor.stream(
    {"messages": [("user", example_query)]},
    stream_mode="values")

for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

When does John Doe  was born
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_emFdTBVFFleERaPBZZbeS7PS)
 Call ID: call_emFdTBVFFleERaPBZZbeS7PS
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Appointment, Diseases, Patients
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_HKtUMxsCSdGFCZTH4Fk9m8DQ)
 Call ID: call_HKtUMxsCSdGFCZTH4Fk9m8DQ
  Args:
    table_names: Patients
  sql_db_schema (call_L64L8lvHmAzQ21G85bK5CVCK)
 Call ID: call_L64L8lvHmAzQ21G85bK5CVCK
  Args:
    table_names: Appointment
  sql_db_schema (call_jb9lsdS1QpnRHUNj5LP7RMKR)
 Call ID: call_jb9lsdS1QpnRHUNj5LP7RMKR
  Args:
    table_names: Diseases
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE `Diseases` (
	`DiseaseID` INTEGER NOT NULL AUTO_INCREMENT,
	`PatientID` INTEGER,
	`ReportedDisease` VARCHAR(100),
	`ReportedTreatment` VARCHAR(100),
	`DiseaseType` VARCHAR(50),
	PRIMARY KEY (`DiseaseID`),
	CONSTRAINT diseases_ibfk_1 FOREIGN KEY(`PatientID`) REFERENCES `Patients` (`PatientID`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from Diseases table:
DiseaseID	PatientID	ReportedDisease	ReportedTreatment	DiseaseType
1	1	Hypertension	Medication	Chronic
2	2	Diabetes	Insulin	Chronic
3	3	Flu	Rest and fluids	Acute
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_fKz8VL6N3UMU8hhXnyKfQy2U)
 Call ID: call_fKz8VL6N3UMU8hhXnyKfQy2U
  Args:
    query: SELECT BirthYear FROM Patients WHERE PatientName = 'John Doe'
================================= Tool Message =================================
Name: sql_db_query

[(1985,)]
================================== Ai Message ==================================

John Doe was born in the year 1985.

In [34]:
answer = event["messages"][-1].content
answer

'John Doe was born in the year 1985.'